<div class="control-section">
        <ejs-treegrid #treegrid [dataSource]='data' [gridLines]='Both' height=335 width='auto' childMapping= 'Children'  >
                <e-columns>
                        <e-column field = 'EmpID' headerText = 'Employee ID' width = '180'></e-column>
                        <e-column field = 'Name' headerText = 'Employee Name'></e-column>
                        <e-column field = 'Address' headerText = 'Employee Details' width = '350'></e-column>
                        <e-column field = 'DOB' headerText = 'DOB'></e-column>
                </e-columns>
        <ng-template #rowTemplate let-data>
                <tr>
                        <td class="border" style='padding-left:18px;'>
                            <div>{{data.EmpID}}</div>
                        </td>
                        <td class="border" style='padding: 10px 0px 0px 20px;'>
                            <div style="font-size:14px;">
                              {{data.Name}}
                                <p style="font-size:9px;">{{data.Designation}}</p>
                            </div>
                        </td>
                        <td class="border">
                            <div>
                                <div style="position:relative;display:inline-block;">
                                    <img src="assets/treegrid/images/{{data.FullName}}.png" alt="{{data.FullName}}" />
                                </div>
                                <div style="display:inline-block;">
                                    <div style="padding:5px;">{{data.Address}}</div>
                                    <div style="padding:5px;">{{data.Country}}</div>
                                    <div style="padding:5px;font-size:12px;">{{data.Contact}}</div>
                                </div>
                            </div>
                        </td>
                        <td class="border" style='padding-left: 20px;'>
                            <div>{{format(data.DOB)}}</div>
                        </td>
                </tr>
        </ng-template>
</ejs-treegrid>
</div>
